<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Sửa bác sĩ</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container mt-5">
<div class="card shadow p-4">

    <h2>Sửa thông tin bác sĩ</h2>

    <form method="POST">

        <input
            type="text"
            name="name"
            class="form-control mb-3"
            value="{{ doctor.name }}"
            placeholder="Họ tên"
            required>

        <label class="form-label">
            Chuyên khoa
        </label>

        <select
            name="specialty"
            class="form-control mb-3"
            required>

            {% for specialty in specialties %}

            <option
                value="{{ specialty.name }}"
                {% if specialty.name == doctor.specialty %}
                selected
                {% endif %}
            >
                {{ specialty.name }}
            </option>

            {% endfor %}

        </select>

        <label class="form-label">
            Phòng khám
        </label>

        <select
            name="clinic"
            class="form-control mb-3"
            required>

            {% for clinic in clinics %}

            <option
                value="{{ clinic.name }}"
                {% if clinic.name == doctor.clinic %}
                selected
                {% endif %}
            >
                {{ clinic.name }}
            </option>

            {% endfor %}

        </select>

        <input
            type="text"
            name="phone"
            class="form-control mb-3"
            value="{{ doctor.phone }}"
            placeholder="Số điện thoại"
            required>

        <input
            type="email"
            name="email"
            class="form-control mb-3"
            value="{{ doctor.email }}"
            placeholder="Email"
            required>

        <input
            type="number"
            name="experience"
            class="form-control mb-3"
            value="{{ doctor.experience }}"
            placeholder="Số năm kinh nghiệm"
            min="0"
            required>

        <button class="btn btn-primary">
            Cập nhật
        </button>

        <a href="/doctors" class="btn btn-secondary">
            Quay lại
        </a>

    </form>

</div>
</div>
</body>
</html>
