<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Chọn loại tài khoản</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">

    <div class="card shadow p-5 text-center">

        <h2 class="mb-4">
            Chọn loại tài khoản
        </h2>

        <a href="/user-register"
           class="btn btn-primary btn-lg mb-3">
            Đăng ký người dùng
        </a>

        <a href="/doctor-register"
           class="btn btn-success btn-lg">
            Đăng ký bác sĩ
        </a>

    </div>

</div>

</body>
</html>